
                    <div id="container" ng-controller="clientmodule">
                        <div class="containerBox">
                            <div class="containerBoxR">
                                <div class="containerInner">
                                    <div>
                                        <table class="BreadCrumAndMenu">
                                            <tr>
                                                <td class="BreadCrumColumn">
                                                    <!-- breadcrum -->
                                                    Home <span style='padding-left: 2px'><a href="#"><img src="images/icon-breadcrumb.png" /></a></span>  Client Module
                                                </td>
                                                <td class="SubMenuColumn" id="divSubMenu"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pageDetails">
                            <!-- page html -->
                            <div class="containerBox">
                                <div class="containerBoxR">
                                    <div class="containerInner">
                                        <div id="pageTitle">
                                            <h2>Client Module</h2>
                                        </div>
                                        <br />
                                        <table width="100%">
                                            <tr>
                                                <td style="width: 12%">
                                                    <div class="receptioncolumn">
                                                        <div class="receptioncolumnHeader">
                                                            <h2>
                                                                Client Menus
                                                            </h2>
                                                            <div class="receptioncolumnContent">
                                                                <div id="content" class="singleColumn">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width: 88%">
                                                    <div class="receptioncolumn">
                                                        <div class="receptioncolumnHeader" style="max-height: 948px !important;">
                                                            <h2>
                                                                Information
                                                            </h2>
                                                            <div class="receptioncolumnContent">
                                                                <div id="content" class="singleColumn">
                                                                
                                                                <div class="tabs">    
																   <div class="tab">
																       <input type="radio" id="tab-1" name="tab-group-1" checked>
																       <label for="tab-1">Alerts</label>
																       
																       <div class="content">
																           <table width="100%">
									                                            <tr>
									                                                <td style="width: 22%">
									                                                    <div class="receptioncolumn">
									                                                        <div class="receptioncolumnHeader" style="min-height: 330px; height: 330px; overflow: auto">
									                                                            <h2>
									                                                                Graph
									                                                            </h2>
									                                                            <div class="receptioncolumnContent" style="margin-right: 10px;">
									                                                                <div id="content" class="singleColumn">   
									                                                                	<br/>   
									                                                                	<br/> 
									                                                                	<br/>   
									                                                                	<br/> 
									                                                                	<div id="pieChartBox" class="box chartBox">
									                                    								</div>                                                              
									                                                                </div>
									                                                            </div>
									                                                        </div>
									                                                    </div>
									                                                </td>
									                                                <td style="width: 77%">
									                                                    <div class="receptioncolumn">
									                                                        <div class="receptioncolumnHeader" style="min-height: 330px; height: 330px; overflow: auto">
									                                                            <h2>
									                                                                Alerts
									                                                            </h2>
									                                                            <div class="receptioncolumnContent">
									                                                                <div id="content" class="singleColumn">
									                                                                	<div class="box contentBox">
									                                                                            <div class="boxInner">
									                                                                                <div class="boxContent">
									                                                                                    <div id="divParent">
									                                                                                        <div class="tableList" style="background-color: White; max-height: 330px; overflow: auto;">
									                                                                                            <table width="100%" cellpadding="0" cellspacing="0" class="requireZebraCrossingGrid"
									                                                                                                   id="tblGrid">
									                                                                                                <thead>
									                                                                                                    <tr class="trgrColumn">
									                                                                                                        <th style="padding-left: 1%">
									                                                                                                            Alert Description
									                                                                                                        </th>
									                                                                                                        <th>
									                                                                                                            Accept Alert
									                                                                                                        </th>
									                                                                                                    </tr>
									                                                                                                </thead>
									                                                                                                <tbody>
									                                                                                                    <tr>
									                                                                                                        <td style="padding-left: 1%">
									                                                                                                            This is demo alert 1
									                                                                                                        </td>
									                                                                                                        <td>
									                                                                                                            <a href="javascript:void(0)" id="btnsaveEditDetails" class="btnGreen btnCancel">
																	                                                                                <span class="btnR"><span class="btnC">Accept</span></span>
																	                                                                            </a>
									                                                                                                        </td>
									                                                                                                    </tr>
									                                                                                                    <tr>                                                                                                    	
									                                                                                                        <td style="padding-left: 1%">
									                                                                                                            This is demo alert 2
									                                                                                                        </td>
									                                                                                                        <td>
									                                                                                                            <a href="javascript:void(0)" id="btnsaveEditDetails" class="btnGreen btnCancel">
																	                                                                                <span class="btnR"><span class="btnC">Accept</span></span>
																	                                                                            </a>
									                                                                                                        </td>
									                                                                                                    </tr>
									                                                                                                    <tr>
									                                                                                                        <td style="padding-left: 1%">
									                                                                                                            This is demo alert 3
									                                                                                                        </td>
									                                                                                                        <td>
									                                                                                                            <a href="javascript:void(0)" id="btnsaveEditDetails" class="btnGreen btnCancel">
																	                                                                                <span class="btnR"><span class="btnC">Accept</span></span>
																	                                                                            </a>
									                                                                                                        </td>
									                                                                                                    </tr>
									                                                                                                    <tr>
									                                                                                                        <td style="padding-left: 1%">
									                                                                                                            This is demo alert 4
									                                                                                                        </td>
									                                                                                                        <td>
									                                                                                                            <a href="javascript:void(0)" id="btnsaveEditDetails" class="btnGreen btnCancel">
																	                                                                                <span class="btnR"><span class="btnC">Accept</span></span>
																	                                                                            </a>
									                                                                                                        </td>
									                                                                                                    </tr>
									                                                                                                    <tr>
									                                                                                                        <td style="padding-left: 1%">
									                                                                                                            This is demo alert 5
									                                                                                                        </td>
									                                                                                                        <td>
									                                                                                                            <a href="javascript:void(0)" id="btnsaveEditDetails" class="btnGreen btnCancel">
																	                                                                                <span class="btnR"><span class="btnC">Accept</span></span>
																	                                                                            </a>
									                                                                                                        </td>
									                                                                                                    </tr>
									                                                                                                    <tr>
									                                                                                                        <td style="padding-left: 1%">
									                                                                                                            This is demo alert 6
									                                                                                                        </td>
									                                                                                                        <td>
									                                                                                                            <a href="javascript:void(0)" id="btnsaveEditDetails" class="btnGreen btnCancel">
																	                                                                                <span class="btnR"><span class="btnC">Accept</span></span>
																	                                                                            </a>
									                                                                                                        </td>
									                                                                                                    </tr>
									                                                                                                    <tr>
									                                                                                                        <td style="padding-left: 1%">
									                                                                                                            This is demo alert 7
									                                                                                                        </td>
									                                                                                                        <td>
									                                                                                                            <a href="javascript:void(0)" id="btnsaveEditDetails" class="btnGreen btnCancel">
																	                                                                                <span class="btnR"><span class="btnC">Accept</span></span>
																	                                                                            </a>
									                                                                                                        </td>
									                                                                                                    </tr>
									                                                                                                </tbody>
									                                                                                            </table>
									                                                                                        </div>
									                                                                                        <span class="corner tl"></span><span class="corner tr"></span><span class="corner bl">
									                                                                                        </span><span class="corner br"></span>
									                                                                                    </div>
									                                                                                </div>
									                                                                            </div>
									                                                                        </div>
									                                                                </div>
									                                                            </div>
									                                                        </div>
									                                                    </div>
									                                                </td>
									                                            </tr>
									                                        </table>
																       </div> 
																   </div>
																    
																   <div class="tab">
																       <input type="radio" id="tab-2" name="tab-group-1">
																       <label for="tab-2">Location</label>																       
																       <div class="content">
																           <table width="100%">
																	           <tr>
								                                            	<td colspan="2">
								                                            	<div style="margin-top: 5px;">
								                                            		<strong style="margin-left: 10px;">Select Building : </strong>
								                                            		<select style="height: 30px; width: 815px;">
								                                            			<option value="1">building 1</option>
								                                            			<option value="1">building 1</option>
								                                            			<option value="1">building 1</option>
								                                            			<option value="1">building 1</option>
								                                            		</select>
								                                            	</div>
								                                                    <div class="receptioncolumn">
								                                                        <div class="receptioncolumnHeader" style="min-height: 295px; height: 295px; overflow: auto">
								                                                            <h2>
								                                                                GMaps Location of Guards
								                                                            </h2>
								                                                            <div class="receptioncolumnContent">
								                                                                <div id="content" class="singleColumn">                         
								                                                                <div id="map" style="height: 253px; width: 902px">
																								</div>                                           
								                                                                </div>
								                                                            </div>
								                                                        </div>
								                                                    </div>
								                                                </td>
								                                            </tr>
								                                        </table>
																       </div> 
																   </div>															    
																</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>